// Recipes scss

.recipes-wrapper{
    display: flex;
    .recipes-container{
        margin: 0 auto;
    }

    .recipe-description-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.centerhv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container{
    @extend .centerhv;
    height: 100%;
    width: 100%;
}
    
